@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);

html {
  background-color: #282a2f;
}

.rectangle-top {
  height: auto;
  height: 70px;
  background: #151515;
  display: flex;
}

nav {
  font-family: "Montserrat";
  color: white;
  text-decoration: none;
  margin-top: 25px;
  position: relative;
  display: block;
}
.lien-discord {
  margin-left: 20px;
  padding-right: 10px;
}
.lien-home {
  margin-left: 20px;
}
.shop {
  margin-left: 20px;
}
