@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap);



html {
  background-color: #282a2f;
}

.rectangle-top {
  height: auto;
  height: 70px;
  background: #151515;
  display: flex;
  border-bottom: solid white;
}

nav {
  font-family: "Roboto Mono";
  color: white;
  text-decoration: none;
  margin-top: 25px;
}
.lien-discord {
  margin-left: 20px;
  padding-right: 6px;
}
.lien-home {
  margin-left: 20px;
}
.shop {
  margin-left: 20px;
}
